<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Name</span>
    </div>
    <input type="text" class="form-control" placeholder="Movie name" id="js-create-moviename" aria-describedby="basic-addon1">
</div>

<br>
<br />

<div class="form-group">
    <label class="form-font" for="dueto">Release Date:</label>
    <input class="create-project-form" type="date" id="js-create-releasedate" placeholder="Due Date">
</div>

<br>
<br />

<label for="basic-url">Poster's URL</label>
<div class="input-group mb-3">
    <input type="text" class="form-control" id="js-create-poster" aria-describedby="basic-addon3">
</div>

<br>
<br />

<label for="basic-url"> Movie Trailer (embed URL only)</label>
<div class="input-group mb-3">
    <input type="text" class="form-control" id="js-create-trailer" aria-describedby="basic-addon4">
</div>

<br>
<br />

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2">Genre</span>
    </div>
    <input type="text" class="form-control" id="js-create-genre" aria-describedby="basic-addon2">
</div>

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Plot info</span>
    </div>
    <textarea class="form-control" id="js-create-plot" aria-label="With textarea"></textarea>
</div>

<br>
<br />

<label for="basic-url">Additional Images (URL)</label>
<div class="input-group mb-3">
    <input type="text" class="form-control" id="js-create-image1" aria-describedby="basic-addon3">
    <input type="text" placeholder="Title" class="form-control" id="js-create-title1">
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" id="js-create-image2" aria-describedby="basic-addon3">
    <input type="text" placeholder="Title" class="form-control" id="js-create-title2">
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" id="js-create-image3" aria-describedby="basic-addon3">
    <input type="text" placeholder="Title" class="form-control" id="js-create-title3">
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" id="js-create-image4" aria-describedby="basic-addon3">
    <input type="text" placeholder="Title" class="form-control" id="js-create-title4">
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" id="js-create-image5" aria-describedby="basic-addon3">
    <input type="text" placeholder="Title" class="form-control" id="js-create-title5">
</div>

<br>
<br />

<label for="basic-url">Main Cast (First name/Last name/Role)</label>
<div class="input-group">
    <input type="text" placeholder="First name" class="form-control" id="js-a1-firstname">
    <input type="text" placeholder="Last name" class="form-control" id="js-a1-lastname">
    <input type="text" placeholder="Role" class="form-control" id="js-a1-role">
</div>
<div class="input-group">
    <input type="text" placeholder="First name" class="form-control" id="js-a2-firstname">
    <input type="text" placeholder="Last name" class="form-control" id="js-a2-lastname">
    <input type="text" placeholder="Role" class="form-control" id="js-a2-role">
</div>
<div class="input-group">
    <input type="text" placeholder="First name" class="form-control" id="js-a3-firstname">
    <input type="text" placeholder="Last name" class="form-control" id="js-a3-lastname">
    <input type="text" placeholder="Role" class="form-control" id="js-a3-role">
</div>

<br>
<br />

<button type="button" class="btn btn-outline-primary" id="js-create-submitmovie">Create</button>