<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">First Name</span>
    </div>
    <input type="text" class="form-control" placeholder="Movie name" id="js-create-actorfname" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Last Name</span>
    </div>
    <input type="text" class="form-control" placeholder="Movie name" id="js-create-actorlname" aria-describedby="basic-addon2">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Picture</span>
    </div>
    <input type="text" class="form-control" placeholder="Movie name" id="js-create-actorpic" aria-describedby="basic-addon3">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Link to Bio</span>
    </div>
    <input type="text" class="form-control" placeholder="Movie name" id="js-create-actorbio" aria-describedby="basic-addon4">
</div>

<br>
<br />

<button type="button" class="btn btn-outline-primary" id="js-create-submitactor">Create</button>